.App {
  width: 95%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

#clear-items {
  cursor: pointer;
}

.left-side {
  background-color: black;
  width: 30%;
  margin-right: 20px;
  height: 420px;
}
.right-side {
  background-color: #199cb9;
  flex: 1;
}

.left-side,
.right-side {
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.right-side header {
  display: flex;
  justify-content: space-between;
  color: black;
  /* border: 1px solid red; */
}

.single-item {
  display: inline-block;
  margin: 10px;
  border: 1px solid white;
  padding: 25px 10px 10px 10px;
  border-radius: 10px;
  color: black;
  background-color: white;
  position: relative;
  width: 150px;
  height: 100%;
}

.delete-item {
  position: absolute;
  cursor: pointer;
  background-color: red;
  padding: 2px 5px;
  border-top-right-radius: 10px;
  right: 0;
  top: 0;
}

.item-name,
.item-desc {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
